@media(max-width: 1028px){
    
}
@media(max-width: 1025px){

}
@media(max-width: 769px){
    .home {
        grid-template-columns: 1fr;
        grid-template-areas:    "primary primary"
                                "featuring featuring";
    }
    .home-sidebar {
        width: 320px;
        position: fixed;
        left: -100%;
        transition: all 0.3s ease-in;
    }
    .home-sidebar.active{
        left: 0;
    }
    .menu{
        display: block;
    }
}
@media(max-width: 480px){
    body, html{
        font-size: 10px;
    }
    .user span{
        display: none;
    }
    .movie-info, .movie-close{
        margin-top: -10px;
    }
    .modalUser{
        padding-top: 140px;
    }
    .modal{
        padding-top: 220px;
    }
}
@media(max-width: 320px){

}